--extra-index-url https://download.pytorch.org/whl/cpu
torch
streamlit
langchain-community
langchain-google-genai
langchain-huggingface
langchain-experimental
chromadb
rank_bm25
pypdf
python-dotenv
sentence-transformers